.title-form{
    color: #000000;
}

.title-form h2{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    margin-bottom: 40px;
}

textarea{
    resize: none;
}

.form-general{
    font-size: 14px;
}

.form-general select, .form-general input{
    font-size: 14px;
}

.form-general .form-control{
    border-radius: 0;
}

.btn-flat{
    border-radius: 0;
}
